* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}




.vigntext {
    background-color: black;
}

#results {

    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

#ChoosenCategory {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tagsFood {
    display: flex;
    width: 350px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
    margin: 0 80px 0;
    

}

.tagsFood:hover {
    box-shadow: 0px 0px 20px rgb(255, 215, 103);
}

#textAndImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}