* {
    padding: 0px;
    margin: 0px;
    background-color: beige;
}

body {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.flexrowCenter {
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

.marginLeftNav {
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(47, 47, 47);
}

.marginLeftNav:hover {
    color: #5bc03c
}