* {
    padding: 0px;
    margin: 0px;
    background-color: beige;
}

body {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border:solid 1px;
}

main,
.Random,
#cat {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    align-items: center;
    justify-content: center;
}


header {
    display: flex;
    flex-direction: row;
    border-bottom:solid 1px;

}
button {
    border-radius: 15px;
    border:solid 1px;
    padding:3px;
    margin-top: 20px;
    
}

img {
    margin-bottom: 50px;
}