* {
    padding: 0px;
    margin: 0px;
}

header {
    margin: 0 150px 0;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

#logo {
    width: 30%;
    margin: 2% 0 2%;
    align-items: center;
}

#MainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#SecondaryBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.marginLeftNav {
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

.marginLeftNav:hover {
    box-shadow: 0px 0px 5px rgb(255, 215, 103);
    background-color: rgba(255, 214, 103, 0.452);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#BaseTitle {
    margin-top: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    text-transform: uppercase;
}